@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main,
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  gap: 35px;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
  color: #2d3340;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

.intro-container {
  margin-top: 50px;
  gap: 20px;
  max-width: 900px;
  text-align: center;
}

.form-container {
  display: flex;
  gap: 50px;
}

li {
  list-style: none;
}

input,
select,
.btn {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  padding: 15px 26px;
  font-size: 16px;
}

label,
select,
.btn {
  cursor: pointer;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 18px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 100%;
}

.product-container:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.form-elements-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-list-container {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.hidden {
  display: none;
}

.shopping-list-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.shopping-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 40px 50px;
  min-width: 400px;
  background-color: #fff;
}

.shopping-list-heading {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #efe0ff;
}

.have-enough-output,
.need-more-output,
.almost-empty-output {
  width: 100%;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 50px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 120px;
  margin-top: 32px;
}

.total-shopping-list > li {
  font-size: 24px;
}

.product-list,
.delete-btn {
  font-size: 16px;
  padding: 8px 12px;
}

.delete-btn {
  border: none;
  cursor: pointer;
}

.error-border-input {
  border: 2px solid rgb(216, 0, 0);
}

.error-msg {
  color: rgb(216, 0, 0);
  font-size: 12px;
  max-width: 220px;
}

.error-msg-hidden {
  display: none;
}
