.product-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-container {
  max-width: 400px;
}

.product-container {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.form-elements-container {
  display: flex;
  flex-direction: column;
  /* transition: ease-out 2s; */
}

.hidden {
  display: none;
}
